.search_body {
  width: 1280px;
  margin: auto;
  height: 120px;
  background-color: #fff;
}
.title {
  float: left;
  font-size: 44px;
  line-height: 62px;
  margin: 29px 86px 29px 39px;
  font-weight: 600;
}
.searchDiv {
  float: left;
  margin: 39px 0px 33px;
}
.search {
  width: 592px;
  height: 51px;
  border: 2px #1593FF solid;
  border-radius: 3px;
  position: relative;
}
.search input {
  width: 480px;
  height: 47px;
  padding: 14px 41px;
}
.search .searchIcon {
  font-size: 14px;
  color: #76838f;
  opacity: .99;
  position: absolute;
  left: 17px;
  top: 17px;
}
.search .searchButton {
  width: 108px;
  height: 47px;
  background-color: #1593FF;
  color: #fff;
}
