/**
    旋转
   */
:global(.spin_icon) {
  animation: loadingCircle 1s infinite linear;
}
:global * {
  font-family: PingFangSC-Regular;
}
:global video::-internal-media-controls-download-button {
  display: none;
}
:global video::-webkit-media-controls-enclosure {
  overflow: hidden;
}
:global video::-webkit-media-controls-panel {
  width: calc(130%);
}
:global .ant-input-affix-wrapper .ant-input:not(:last-child) {
  padding-right: 5.2em;
}
.useDiv {
  display: none;
  height: 58px;
  text-align: center;
  padding: 5px;
  padding-top: 22px;
  vertical-align: middle;
}
.useButton {
  color: #fff;
  width: 76px;
  height: 30px;
  background: #1593ff;
  border-radius: 3px;
  cursor: pointer;
}
.useButton a:active {
  color: #fff;
}
.Card:hover .title,
.Card:hover .info {
  display: none;
}
.Card:hover .useDiv {
  display: block;
}
.title {
  color: #333333;
  height: 37px;
  border-bottom: #D8D8D8 1px solid;
  text-align: left;
  word-break: normal;
  padding: 6px 9px;
  font-size: 12px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.info {
  font-size: 12px;
  color: #666666;
  padding: 2px 4px;
  white-space: nowrap;
}
.priceSpan {
  color: #333333;
  position: absolute;
  top: 4px;
  left: 4px;
  padding: 2px 5px;
  display: block;
  width: 54px;
  height: 24px;
  background-color: #fff;
  border-radius: 3px;
  font-size: 14px;
  line-height: 17px;
}
.durationSpan {
  float: right;
}
.changeTempModal {
  width: 450px;
  height: 200px;
  paddingTop: 30px;
  font-size: 18px;
  line-height: 30px;
  padding-top: 30px;
  text-align: center;
  position: relative;
}
.changeTempModalFoot {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 12px;
}
.changeTempModalFoot button {
  width: 96px;
  height: 36px;
  line-height: 24px;
  font-size: 14px;
}
.changeTempModalFoot button:first-child {
  background: none;
  color: #ccd5db;
  border: 1px #ccd5db solid;
  margin-right: 15px;
}
.useDiv {
  display: none;
  height: 45px;
  text-align: center;
  padding: 5px;
  vertical-align: middle;
}
.Card {
  flex-basis: 256px;
  width: 256px;
  height: 189px;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 4px 4px 4px 4px;
}
.title {
  color: #333333;
  height: 25px;
  border-bottom: #D8D8D8 1px solid;
  text-align: left;
  word-break: normal;
  padding: 6px 9px;
  white-space: normal;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.video_div {
  position: relative;
  cursor: pointer;
  width: 256px;
  height: 144px;
  background: #d8d8d8;
  border-radius: 4px 4px 0 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video_shade {
  display: none;
  background-color: #fff;
  opacity: 0.7;
}
.video_button {
  height: 144px;
  width: 256px;
  z-index: 4;
  position: absolute;
  vertical-align: middle;
  text-align: center;
  font-size: 52px;
  padding-top: 38px;
}
.video_icon {
  opacity: 0;
  z-index: 1;
}
.Card:hover .video_icon {
  opacity: .9;
}
.video_div img {
  max-height: 144px;
  max-width: 256px;
}
.video video {
  width: 256px;
  height: 144px;
}
.video_div .video {
  display: none;
}
.Card:hover > .video_div .video_shade {
  display: block;
}
.Card:hover > .video_div .video {
  display: inline-block;
}
.Card:hover > .video_div > img {
  display: none;
}
