/**
    旋转
   */
:global(.spin_icon) {
  animation: loadingCircle 1s infinite linear;
}
:global * {
  font-family: PingFangSC-Regular;
}
:global video::-internal-media-controls-download-button {
  display: none;
}
:global video::-webkit-media-controls-enclosure {
  overflow: hidden;
}
:global video::-webkit-media-controls-panel {
  width: calc(130%);
}
:global .ant-input-affix-wrapper .ant-input:not(:last-child) {
  padding-right: 5.2em;
}
.content {
  width: 1100px;
  min-height: 50vh;
  padding: 20px;
}
.img_video {
  height: 621px;
  margin-right: 7px;
  float: left;
}
.img_div {
  box-sizing: content-box;
  width: 239px;
  height: 247px;
  border: #9e9e9e 1px dashed;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.img_div img {
  vertical-align: middle;
  max-width: 239px;
  max-height: 247px;
}
.video_div {
  box-sizing: content-box;
  width: 239px;
  height: 252px;
  border: none;
  text-align: center;
  background-color: #EEEEEE;
  margin-top: 122px;
}
.sticky {
  position: absolute;
  width: 92px;
  height: 34px;
  line-height: 34px;
  background: #1593ff;
  border-radius: 0 0 12px 0;
  opacity: .6;
  text-align: center;
  color: #fff;
  font-size: 18px;
  align-self: baseline;
  left: 0;
}
.info_span {
  width: 810px;
  padding: 2px;
  padding-left: 27px;
  float: right;
}
.info_span label {
  font-family: 'PingFang SC';
  color: #333333;
  font-size: 18px;
  line-height: 16px;
}
.one_info {
  margin-bottom: 28px;
}
.labelNextDiv {
  margin-top: 14px;
}
.info_span input {
  border-radius: 0;
  background-color: #fff;
}
.info_span :global(.ant-tag) {
  color: #333333;
  background-color: #EEEEEE;
  border-radius: 12px;
}
.info_span :global(.ant-tag-checkable-checked) {
  color: #fff;
  background-color: #1593FF;
}
.tags_checked_div {
  padding: 0 12px;
  line-height: 32px;
  width: 807px;
  height: 34px;
  background: #eeeeee;
  border-radius: 3px;
  margin-bottom: 22px;
}
.tags_checked_div :global(.ant-tag) {
  background-color: #fff;
}
.tableDiv {
  display: table;
  width: 807px;
  vertical-align: middle;
}
.table_row img {
  margin: 0;
}
.table_row {
  width: 807px;
  height: 74px;
  font-size: 18px;
  line-height: 14px;
  padding: 0 18px;
  display: table-row;
}
.table_row .td_check {
  width: 30px;
  display: table-cell;
  height: 74px;
  padding-left: 12px;
}
.table_row .td_title {
  height: 74px;
  padding-left: 12px;
  width: 60px;
  font-size: 14px;
  display: table-cell;
}
.table_row .td_content {
  height: 74px;
  padding-left: 12px;
  width: 600px;
  display: table-cell;
}
.td_content .text_span {
  width: 459px;
  height: 54px;
  border: 1px dashed #CCD5DB;
  display: inline-block;
  padding: 11px 9px;
}
.table_row .td_icon {
  height: 74px;
  padding-left: 12px;
  width: 30px;
  font-size: 20px;
  display: table-cell;
  cursor: pointer;
}
.table_row .td_icon:hover {
  color: #1593ff;
}
body > tr.table_row:last-child .td_icon {
  color: #1593ff;
}
body > tr.table_row:last-child td:last-child {
  color: #000000!important;
}
.checkbox {
  zoom: 1.2;
}
.table_row img {
  width: 37px;
  height: 66px;
}
.odd {
  background-color: #F6F9FA;
}
.errorSpan {
  padding-left: 20px;
  font-size: 12px;
  color: red;
}
